.venv

*/*/migrations/0*.py

back_media/

back_static/

staticfiles/*

*.secret

*.log

.idea/

__pycache__/

*.pyc

*.session

db.sqlite3

.coverage

build/

pip-cache/

.env

*.bak

.DS_Store

.dockerignore

.git

.gitignore